################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/OAIP/FileContentIndex/28744c56-f761-4d68-aaea-0df816ef2736.vsidx
.vs/
bin/
obj/
*.user
*.suo
*.cache
